<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM7QDKSg_SPCes2AASw0gC3OkVE8KP6tE</string>
	<key>GCM_SENDER_ID</key>
	<string>756698322865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.go.padang.sso</string>
	<key>PROJECT_ID</key>
	<string>sso-asn-padang</string>
	<key>STORAGE_BUCKET</key>
	<string>sso-asn-padang.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756698322865:ios:d4b4d22bd48859050a4f90</string>
</dict>
</plist>